.git
.gitignore

.env
.env.*
!.env.example

node_modules
vendor

docker-compose.yml
docker-compose.prod.yml

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

npm-debug.log