.git
.github
.gemini
.agents
node_modules
vendor
public/build
public/hot
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*.php
tests
docs
.phpunit.result.cache
.env
.env.example
.env.backup
.editorconfig
.prettierrc
README.md
docker-compose*.yml